In [1]:
#importing the libraries
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

# TABLE_1

In [2]:
#importing the csv file
df1=pd.read_csv("IMDB_1.csv")
df1.head()

,S.No.,Movie_Names,Duration,Director_1,Year,ratings,Metascore
0,1,Dragon Wars: D-War,107 min,Christopher Nolan,(2008),3.5,84
1,2,Catwoman,104 min,Peter Jackson,(2003),3.4,94
2,3,Left Behind,110 min,Joaquim Dos Santos,(2023),3.1,86
3,4,Rollerball,98 min,Christopher Nolan,(2010),3.1,74
4,5,BloodRayne,95 min,Peter Jackson,(2001),3.0,92

In [3]:
#Display all the details of movies created by directors Christopher Nolan and Matt Reeves.
directors=['Christopher Nolan','Matt Reeves']  #creating a list of selected directors
movies=df1.loc[df1['Director_1'].isin(directors)]   #locating the details
movies     #displaying the output

,S.No.,Movie_Names,Duration,Director_1,Year,ratings,Metascore
0,1,Dragon Wars: D-War,107 min,Christopher Nolan,(2008),3.5,84
3,4,Rollerball,98 min,Christopher Nolan,(2010),3.1,74
21,22,Jonah Hex,81 min,Christopher Nolan,(2012),4.7,78
40,41,Cell,98 min,Christopher Nolan,(2005),4.4,64
131,132,Red Dawn,93 min,Matt Reeves,(2022),5.3,47
132,133,Max Payne,100 min,Christopher Nolan,(2017),5.3,61
230,231,The Specialist,110 min,Matt Reeves,(2014),5.6,64
309,310,Assassin's Creed,115 min,Matt Reeves,(2017),5.6,80
322,323,Lake Placid,82 min,Christopher Nolan,(2020),5.8,69
516,517,Soldier,99 min,Matt Reeves,(2008),6.0,66

In [4]:
# Extract numeric value from the "Duration" column using regex and convert to float
df1['Duration'] = df1['Duration'].str.extract('(\d+)').astype(float)

movies_within_duration_range = df1.loc[(df1['Duration'] >= 140) & (df1['Duration'] <= 190).values]

movies_within_duration_range

,S.No.,Movie_Names,Duration,Director_1,Year,ratings,Metascore
5,6,Adipurush,179.0,Peter Jackson,(2002),2.9,87
6,7,Liger,140.0,Lana Wachowski,(1999),2.7,73
7,8,Gunday,152.0,Irvin Kershner,(1980),2.7,82
10,11,Laxmii,141.0,George Lucas,(1977),2.5,98
11,12,Heropanti 2,145.0,Akira Kurosawa,(1954),2.5,85
...,...,...,...,...,...,...,...
1755,1756,Raatchasan,170.0,Om Raut,(2023),8.3,-
1758,1759,Spider-Man: No Way Home,148.0,James Wong,(2009),8.2,-
1760,1761,Batman Begins,140.0,Raghava Lawrence,(2020),8.2,-
1765,1766,Ran,162.0,Prabhu Deva,(2021),8.2,-
1768,1769,Baahubali 2: The Conclusion,167.0,Keith English,(2021),8.2,-

In [5]:
# Display all details of movies with ratings above 7 in ascending order.
movies=df1.loc[df1['ratings']>=7]
sorted_movies=movies.sort_values(by='ratings',ascending=True)
sorted_movies

,S.No.,Movie_Names,Duration,Director_1,Year,ratings,Metascore
1170,1171,Juice,95.0,Christian Rivers,(2018),7.0,45
1243,1244,Ant-Man and the Wasp,118.0,Jonathan English,(2011),7.0,60
1244,1245,Maverick,127.0,Nash Edgerton,(2018),7.0,49
1245,1246,22 Jump Street,112.0,Harold Becker,(1998),7.0,40
1246,1247,Logan Lucky,118.0,Dwight H. Little,(1997),7.0,57
...,...,...,...,...,...,...,...
1724,1725,The Lord of the Rings: The Fellowship of the Ring,178.0,Mark Neveldine,(2011),8.8,-
1725,1726,The Lord of the Rings: The Two Towers,179.0,Robert Rodriguez,(2003),8.8,-
1722,1723,Spider-Man: Across the Spider-Verse,140.0,John Whitesell,(2011),8.9,-
1721,1722,The Lord of the Rings: The Return of the King,201.0,Roger Spottiswoode,(1992),9.0,-
1720,1721,The Dark Knight,152.0,Tod Williams,(I) (2016),9.0,-

In [6]:
#Display all movie names in descending order.
sorted_movies=df1.sort_values(by='Movie_Names',ascending=False)
movies=sorted_movies['Movie_Names']
print(movies)

199                       Æon Flux
36         xXx: State of the Union
149     xXx: Return of Xander Cage
410                            xXx
117                    Zoolander 2
                   ...
878                      12 Strong
244                      12 Rounds
73                        10000 BC
1346                           '71
764                         #Alive
Name: Movie_Names, Length: 1770, dtype: object

In [7]:
#Display movie name starts with ‘P’ and their rating is greater than 7.
movies_filtered = df1[(df1['Movie_Names'].str.startswith('P')) & (df1['ratings'] > 7)]
(movies_filtered)

,S.No.,Movie_Names,Duration,Director_1,Year,ratings,Metascore
1279,1280,Planet Terror,105.0,Irwin Winkler,(I) (1995),7.1,44
1288,1289,Payback,100.0,Nicolas Winding Refn,(2009),7.1,41
1357,1358,Prey,100.0,Tony Scott,(1996),7.1,40
1364,1365,Pirates of the Caribbean: At World's End,169.0,Luis Prieto,(I) (2017),7.1,31
1377,1378,Patriots Day,133.0,Spike Lee,(2013),7.3,54
1403,1404,Point Break,122.0,Irvin Kershner,(1990),7.2,26
1423,1424,Predestination,97.0,Chandra Prakash Dwivedi,(2022),7.4,51
1452,1453,Pirates of the Caribbean: Dead Man's Chest,151.0,Jonathan Liebesman,(2012),7.3,31
1493,1494,Police Story,100.0,Paul W.S. Anderson,(2004),7.5,25
1559,1560,Ponniyin Selvan: Part I,167.0,Dennis Dugan,(1997),7.6,20
1560,1561,Pushpa: The Rise - Part 1,179.0,Dominic Sena,(2009),7.6,34
1659,1660,Predator,107.0,Rob Cohen,(2005),7.8,-
1676,1677,Paan Singh Tomar,135.0,McG,(2003),8.2,-
1679,1680,Pirates of the Caribbean: The Curse of the Bla...,143.0,Mabrouk El Mechri,(2012),8.1,-
1748,1749,Princess Mononoke,134.0,David Hogan,(1996),8.3,-

# TABLE_2

In [8]:
#importing the csv file
df2=pd.read_csv("IMDB_2.csv")
df2.head()

,Genre1,Genre2,Genre3,Movies,Collection(in million),Votes,Certificate,Star1,Star2,Star3,Star4
0,Action,Crime,Drama,The Dark Knight,10.98,27174,PG-13,Christian Bale,Christian Bale,Heath Ledger,Aaron Eckhart
1,Action,Adventure,Drama,The Lord of the Rings: The Return of the King,40.20,25072,PG-13,Elijah Wood,Elijah Wood,Viggo Mortensen,Ian McKellen
2,Animation,Action,Adventure,Spider-Man: Across the Spider-Verse,14.00,122893,PG,-,Kemp Powers,Justin K. Thompson,Shameik Moore
3,Action,Adventure,Sci-Fi,Inception,18.99,41424,PG-13,Leonardo DiCaprio,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page
4,Action,Adventure,Drama,The Lord of the Rings: The Fellowship of the Ring,2.41,28915,PG-13,Elijah Wood,Elijah Wood,Ian McKellen,Orlando Bloom

In [9]:
#Display all movie names with star Arnold Schwarzenegger in ascending order.
#creating a condition for finding the movies in all the 4 star columns
arnold=df2[['Star1','Star2','Star3','Star4']].apply (lambda x: x.str.contains('Arnold Schwarzenegger',case=False)).any(axis=1)
movies=df2[arnold]
sorted_movies=movies.sort_values(by='Movies',ascending=True)  #sorting the movies in ascending order
sorted_movies[['Movies','Star1','Star2','Star3','Star4']]  #displaying movie names of Arnold Schwarzenegger

,Movies,Star1,Star2,Star3,Star4
335,13 Hours,John Krasinski,Arnold Schwarzenegger,Jamie Lee Curtis,Tom Arnold
1122,A Lonely Place to Die,Alec Newman,Arnold Schwarzenegger,Vanessa Williams,James Caan
1740,Batman & Robin,Arnold Schwarzenegger,Eddie Murphy,Jay Mohr,Randy Quaid
1024,Central Intelligence,Dwayne Johnson,Arnold Schwarzenegger,Forest Whitaker,Johnny Knoxville
1227,Code 8,Kari Matchett,Arnold Schwarzenegger,Jim Belushi,Peter Boyle
1556,Collateral Damage,Arnold Schwarzenegger,Melissa McCarthy,Elizabeth Banks,Maya Rudolph
703,Commando,Arnold Schwarzenegger,Denzel Washington,Pedro Pascal,Ashton Sanders
1651,Conan the Barbarian,Jason Momoa,Arnold Schwarzenegger,Brigitte Nielsen,Sandahl Bergman
573,Conan the Barbarian,Arnold Schwarzenegger,Jeremy Renner,Rose Byrne,Robert Carlyle
1331,Conan the Destroyer,Arnold Schwarzenegger,Megan Fox,Will Arnett,Tyler Perry
706,Demolition Man,Sylvester Stallone,Arnold Schwarzenegger,Maria Conchita Alonso,Yaphet Kotto
1398,End of Days,Arnold Schwarzenegger,Jackie Chan,Steve Coogan,Jim Broadbent
1121,Eraser,Arnold Schwarzenegger,Michael Vartan,Radha Mitchell,Sam Worthington
64,Ford v Ferrari,Matt Damon,Arnold Schwarzenegger,Linda Hamilton,Michael Biehn
1086,Hitman,Timothy Olyphant,Linda Hamilton,Arnold Schwarzenegger,Mackenzie Davis
1503,Hold the Dark,Jeffrey Wright,Arnold Schwarzenegger,Kathryn Harrold,Sam Wanamaker
1465,Hudson Hawk,Bruce Willis,Arnold Schwarzenegger,Sam Worthington,Terrence Howard
1345,Iron Sky,Julia Dietze,Arnold Schwarzenegger,Michael Rapaport,Tony Goldwyn
1095,Jack Ryan: Shadow Recruit,Chris Pine,Arnold Schwarzenegger,Penelope Ann Miller,Pamela Reed
1094,Kindergarten Cop,Arnold Schwarzenegger,Sullivan Stapleton,Eva Green,Lena Headey
864,Last Action Hero,Arnold Schwarzenegger,Ben Affleck,Oscar Isaac,Charlie Hunnam
139,Predator,Arnold Schwarzenegger,N.T. Rama Rao Jr.,Ram Charan,Ajay Devgn
1399,Rambo III,Sylvester Stallone,Arnold Schwarzenegger,Gabriel Byrne,Robin Tunney
1502,Raw Deal,Arnold Schwarzenegger,Sylvester Stallone,Armand Assante,Rob Schneider
1226,Red Heat,Arnold Schwarzenegger,Nicolas Cage,Adam Beach,Peter Stormare
1650,Red Sonja,Arnold Schwarzenegger,Kristen Stewart,Robert Pattinson,Taylor Lautner
1013,Run Hide Fight,Isabel May,Arnold Schwarzenegger,Nick Stahl,Kristanna Loken
1464,Sabotage,Arnold Schwarzenegger,Katheryn Winnick,Liam Neeson,Teresa Ruiz
1332,Six Days Seven Nights,Harrison Ford,Arnold Schwarzenegger,Grace Jones,Olivia d'Abo
1557,Stolen,Nicolas Cage,Arnold Schwarzenegger,John Leguizamo,Francesca Neri
9,Terminator 2: Judgment Day,Arnold Schwarzenegger,Arnold Schwarzenegger,Linda Hamilton,Edward Furlong
1012,Terminator 3: Rise of the Machines,Arnold Schwarzenegger,Tobey Maguire,Kirsten Dunst,Topher Grace
1015,Terminator Genisys,Arnold Schwarzenegger,Alexander Skarsgård,Millie Bobby Brown,Rebecca Hall
865,Terminator Salvation,Christian Bale,Arnold Schwarzenegger,F. Murray Abraham,Art Carney
1344,The 6th Day,Arnold Schwarzenegger,Rhona Mitra,Bob Hoskins,Alexander Siddig
1741,The Avengers,Ralph Fiennes,Arnold Schwarzenegger,George Clooney,Chris O'Donnell
140,The Fugitive,Harrison Ford,Arnold Schwarzenegger,Carl Weathers,Kevin Peter Hall
257,The Hunt for Red October,Sean Connery,Arnold Schwarzenegger,Sharon Stone,Michael Ironside
1023,The Last Stand,Arnold Schwarzenegger,Patrick Swayze,C. Thomas Howell,Lea Thompson
574,The Magnificent Seven,Denzel Washington,Arnold Schwarzenegger,James Earl Jones,Max von Sydow
705,The Running Man,Arnold Schwarzenegger,Woody Harrelson,Jesse Eisenberg,Emma Stone
1016,The Shallows,Blake Lively,Arnold Schwarzenegger,Jason Clarke,Emilia Clarke
63,The Terminator,Arnold Schwarzenegger,Tom Hardy,Charlize Theron,Nicholas Hoult
256,Total Recall,Arnold Schwarzenegger,Michael Cera,Mary Elizabeth Winstead,Kieran Culkin
334,True Lies,Arnold Schwarzenegger,Chadwick Boseman,Michael B. Jordan,Lupita Nyong'o
693,Warcraft,Travis Fimmel,Sylvester Stallone,Arnold Schwarzenegger,50 Cent
704,Zombieland: Double Tap,Woody Harrelson,Arnold Schwarzenegger,Rae Dawn Chong,Dan Hedaya

In [10]:
#Display all details of the movie with the highest number of votes
highest_votes=df2['Votes'].idxmax() #Displaying the index having maximum votes
movie=df2.loc[highest_votes]   #fetching the details of movie having highest index
print(movie)   #Displaying the output

Genre1                                        Action
Genre2                                     Adventure
Genre3                                        Horror
Movies                    Stop! Or My Mom Will Shoot
Collection(in million)                           NaN
Votes                                        2740816
Certificate                                       PG
Star1                             Sylvester Stallone
Star2                                    John Cusack
Star3                              Samuel L. Jackson
Star4                               Isabelle Fuhrman
Name: 1721, dtype: object

In [11]:
#Display movie names with gross collections in descending order.
sorted_movies=df2.sort_values(by='Collection(in million)',ascending=False)  #creating the condition
sorted_movies.head(5)  #Displaying the output

,Genre1,Genre2,Genre3,Movies,Collection(in million),Votes,Certificate,Star1,Star2,Star3,Star4
1401,Action,Comedy,War,Extinction,936.66,327459,PG-13,Michael Peña,John Belushi,Dan Aykroyd,Treat Williams
1371,Action,Crime,Sci-Fi,Ride Along 2,760.51,188943,PG-13,Ice Cube,Christopher Lambert,Loryn Locklin,Kurtwood Smith
1233,Action,Adventure,Horror,Heist,700.06,316587,R,Robert De Niro,Josh Stewart,Emma Fitzpatrick,Christopher McDonald
1294,Action,Adventure,Drama,Captive State,659.68,176570,R,John Goodman,Sean Connery,Richard Gere,Julia Ormond
1004,Action,Adventure,Fantasy,White House Down,652.27,68015,PG-13,Channing Tatum,Gemma Chan,Richard Madden,Angelina Jolie

In [12]:
# Display the gross collection of movies with the star Arnold
arnold=df2[['Star1','Star2','Star3','Star4']].apply(lambda x: x.str.contains('Arnold Schwarzenegger',case=False)).any(axis=1)
movies=df2[arnold]   #collection movies of 'ARNOLD'
movies[['Movies','Collection(in million)']]   #displaying the output

                                  Movies  Collection(in million)
9             Terminator 2: Judgment Day                    1.69
63                        The Terminator                    0.65
64                        Ford v Ferrari                   48.48
139                             Predator                   24.05
140                         The Fugitive                   52.21
256                         Total Recall                  131.92
257             The Hunt for Red October                   33.62
334                            True Lies                   16.06
335                             13 Hours                  101.70
573                  Conan the Barbarian                  343.26
574                The Magnificent Seven                  352.39
693                             Warcraft                    4.43
703                             Commando                   41.19
704               Zombieland: Double Tap                   69.03
705                      The Running Man                  126.66
706                       Demolition Man                  200.68
864                     Last Action Hero                   73.12
865                 Terminator Salvation                   38.12
1012  Terminator 3: Rise of the Machines                  122.19
1013                      Run Hide Fight                  213.77
1015                  Terminator Genisys                  262.03
1016                        The Shallows                   75.47
1023                      The Last Stand                   26.00
1024                Central Intelligence                   25.02
1086                              Hitman                   43.48
1094                    Kindergarten Cop                  143.53
1095           Jack Ryan: Shadow Recruit                   81.53
1121                              Eraser                   61.26
1122               A Lonely Place to Die                  147.25
1226                            Red Heat                  350.13
1227                              Code 8                   90.82
1331                 Conan the Destroyer                    0.11
1332               Six Days Seven Nights                    0.45
1344                         The 6th Day                  228.78
1345                            Iron Sky                   54.23
1398                         End of Days                  183.88
1399                           Rambo III                  532.18
1464                            Sabotage                     NaN
1465                         Hudson Hawk                     NaN
1502                            Raw Deal                     NaN
1503                       Hold the Dark                     NaN
1556                   Collateral Damage                     NaN
1557                              Stolen                     NaN
1650                           Red Sonja                     NaN
1651                 Conan the Barbarian                     NaN
1740                      Batman & Robin                     NaN
1741                        The Avengers                     NaN

In [13]:
#Display all details of movies with comedy and action genres.
#creating instance for finding the details of movies
comedy_action= ((df2[['Genre1', 'Genre2', 'Genre3']].apply(lambda col: col.str.contains('Comedy', case=False)).sum(axis=1) > 0)
    & (df2[['Genre1', 'Genre2', 'Genre3']].apply(lambda col: col.str.contains('Action', case=False)).sum(axis=1) > 0))

#fetching the details of movies having both action and comedy genre
movies=df2[comedy_action]

#Displaying the output
movies

,Genre1,Genre2,Genre3,Movies,Collection(in million),Votes,Certificate,Star1,Star2,Star3,Star4
47,Action,Comedy,Crime,Gangs of Wasseypur,15.68,63437,Not Rated,Manoj Bajpayee,Manoj Bajpayee,Nawazuddin Siddiqui,Tigmanshu Dhulia
53,Action,Comedy,Romance,Vikram Vedha,21.30,73922,Not Rated,-,Buster Keaton,Kathryn McGuire,Joe Keaton
59,Action,Adventure,Comedy,Pirates of the Caribbean: The Curse of the Bla...,19.08,33693,R,Johnny Depp,Chris Pratt,Chukwudi Iwuji,Bradley Cooper
69,Action,Comedy,Crime,The Iron Giant,10.17,33495,TV-MA,Eli Marienthal,Jason Flemyng,Dexter Fletcher,Nick Moran
72,Action,Adventure,Comedy,The General,4.83,43630,Not Rated,-,Mehmet Tutkun,Salman Khan,Harshaali Malhotra
...,...,...,...,...,...,...,...,...,...,...,...
1740,Action,Comedy,Sci-Fi,Batman & Robin,NaN,736983,PG-13,Arnold Schwarzenegger,Eddie Murphy,Jay Mohr,Randy Quaid
1744,Action,Adventure,Comedy,Superman IV: The Quest for Peace,NaN,36777,PG-13,Christopher Reeve,Cayden Boyd,George Lopez,Kristin Davis
1750,Action,Adventure,Comedy,Dragon Wars: D-War,NaN,336399,Not Rated,Jason Behr,Jessica Alba,Jeremy Piven,Joel McHale
1761,Action,Comedy,Horror,Heropanti 2,NaN,1514381,-,Tiger Shroff,Balakrishnan Thevar,Akshay Kumar,Kiara Advani
1762,Action,Comedy,Crime,Alone in the Dark,NaN,629215,-,Christian Slater,Tiger Shroff,Nawazuddin Siddiqui,Tara Sutaria

# SUB_QUERY

In [14]:
#Display all details from both tables where movie names are the same.
merged_file=df1.merge(df2, left_on='Movie_Names', right_on='Movies')  #The column name of both the tables are different
merged_file   #displaying the output where movie_names are same/common

,S.No.,Movie_Names,Duration,Director_1,Year,ratings,Metascore,Genre1,Genre2,Genre3,Movies,Collection(in million),Votes,Certificate,Star1,Star2,Star3,Star4
0,1,Dragon Wars: D-War,107.0,Christopher Nolan,(2008),3.5,84,Action,Adventure,Comedy,Dragon Wars: D-War,NaN,336399,Not Rated,Jason Behr,Jessica Alba,Jeremy Piven,Joel McHale
1,2,Catwoman,104.0,Peter Jackson,(2003),3.4,94,Action,Drama,Fantasy,Catwoman,NaN,199057,PG,Halle Berry,Jason Behr,Amanda Brooks,Robert Forster
2,3,Left Behind,110.0,Joaquim Dos Santos,(2023),3.1,86,Action,Crime,Fantasy,Left Behind,NaN,96839,PG-13,Nicolas Cage,Halle Berry,Sharon Stone,Benjamin Bratt
3,4,Rollerball,98.0,Christopher Nolan,(2010),3.1,74,Animation,Action,Adventure,Rollerball,0.12,54758,R,James Caan,Simon J. Smith,Tom McGrath,Chris Miller
4,4,Rollerball,98.0,Christopher Nolan,(2010),3.1,74,Action,Fantasy,Sci-Fi,Rollerball,NaN,140961,TV-MA,Chris Klein,Nicolas Cage,Lea Thompson,Cassi Thomson
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1833,1766,Ran,162.0,Prabhu Deva,(2021),8.2,-,Action,Drama,War,Ran,4.54,172204,R,Tatsuya Nakadai,Tatsuya Nakadai,Akira Terao,Jinpachi Nezu
1834,1767,Demon Slayer the Movie: Mugen Train,117.0,Remo D'Souza,(2018),8.2,-,Animation,Action,Adventure,Demon Slayer the Movie: Mugen Train,39.18,123305,R,Natsuki Hanae,Natsuki Hanae,Akari Kitô,Yoshitsugu Matsuoka
1835,1768,Gangs of Wasseypur,321.0,Sean Cain,(2015),8.2,-,Action,Comedy,Crime,Gangs of Wasseypur,15.68,63437,Not Rated,Manoj Bajpayee,Manoj Bajpayee,Nawazuddin Siddiqui,Tigmanshu Dhulia
1836,1769,Baahubali 2: The Conclusion,167.0,Keith English,(2021),8.2,-,Action,Drama,NaN,Baahubali 2: The Conclusion,15.22,83188,Not Rated,Prabhas,Prabhas,Rana Daggubati,Anushka Shetty
1837,1770,Yojimbo,110.0,Mahesh Bhatt,(2020),8.2,-,Action,Drama,Thriller,Yojimbo,35.93,49745,Not Rated,Toshirô Mifune,Toshirô Mifune,Eijirô Tôno,Tatsuya Nakadai

In [15]:
#Display all movie names, Director, ratings, and gross collection where the genre is action.

# Filter rows where any of the genre columns in df2 contain "Action"
action_movies_df2 = df2[df2[['Genre1', 'Genre2', 'Genre3']].apply(lambda x: x.str.contains('Action', case=False)).any(axis=1)]

# Filter rows where the "Genre" column is "Action" in df1
action_movies_df1 = df1[df1['Movie_Names'].isin(action_movies_df2['Movies'])]

# Concatenating the filtered DataFrames from both df1 and df2
result = pd.concat([action_movies_df1, action_movies_df2], ignore_index=True)

#desired columns
result = result[['Movie_Names', 'Director_1', 'ratings']]

# Displaying output
result.head()

          Movie_Names          Director_1  ratings
0  Dragon Wars: D-War   Christopher Nolan      3.5
1            Catwoman       Peter Jackson      3.4
2         Left Behind  Joaquim Dos Santos      3.1
3          Rollerball   Christopher Nolan      3.1
4          BloodRayne       Peter Jackson      3.0

In [26]:
#Display all details from both tables with the highest gross collection
#First combine the dataframe
combined_file=pd.merge(df1,df2,left_on='Movie_Names',right_on='Movies',how='outer')
sorted_file=combined_file.sort_values(by='Collection(in million)',ascending=False) #sorting the dataframe
sorted_file.head()   #Displaying the output

,S.No.,Movie_Names,Duration,Director_1,Year,ratings,Metascore,Genre1,Genre2,Genre3,Movies,Collection(in million),Votes,Certificate,Star1,Star2,Star3,Star4
364,322.0,Extinction,95.0,David Leitch,(2022),5.8,69,Action,Comedy,War,Extinction,936.66,327459,PG-13,Michael Peña,John Belushi,Dan Aykroyd,Treat Williams
436,392.0,Ride Along 2,102.0,Oliver Stone,(1994),5.9,55,Action,Crime,Sci-Fi,Ride Along 2,760.51,188943,PG-13,Ice Cube,Christopher Lambert,Loryn Locklin,Kurtwood Smith
616,822.0,Heist,109.0,Albert Hughes,(II) (2018),6.5,61,Action,Adventure,Horror,Heist,700.06,316587,R,Robert De Niro,Josh Stewart,Emma Fitzpatrick,Christopher McDonald
614,554.0,Heist,93.0,Rob Cohen,(1993),6.1,41,Action,Adventure,Horror,Heist,700.06,316587,R,Robert De Niro,Josh Stewart,Emma Fitzpatrick,Christopher McDonald
574,515.0,Captive State,109.0,Paul Feig,(2015),6.0,56,Action,Adventure,Drama,Captive State,659.68,176570,R,John Goodman,Sean Connery,Richard Gere,Julia Ormond

In [28]:
# Display all details from both tables with the highest ratings
combined_file=pd.merge(df1,df2, left_on='Movie_Names',right_on='Movies',how='outer')   #combining the files
sorted_file=combined_file.sort_values(by='ratings',ascending=False)  #Sorting the dataframe
sorted_file.head()

,S.No.,Movie_Names,Duration,Director_1,Year,ratings,Metascore,Genre1,Genre2,Genre3,Movies,Collection(in million),Votes,Certificate,Star1,Star2,Star3,Star4
1789,1721.0,The Dark Knight,152.0,Tod Williams,(I) (2016),9.0,-,Action,Crime,Drama,The Dark Knight,10.98,27174,PG-13,Christian Bale,Christian Bale,Heath Ledger,Aaron Eckhart
1790,1722.0,The Lord of the Rings: The Return of the King,201.0,Roger Spottiswoode,(1992),9.0,-,Action,Adventure,Drama,The Lord of the Rings: The Return of the King,40.20,25072,PG-13,Elijah Wood,Elijah Wood,Viggo Mortensen,Ian McKellen
1791,1723.0,Spider-Man: Across the Spider-Verse,140.0,John Whitesell,(2011),8.9,-,Animation,Action,Adventure,Spider-Man: Across the Spider-Verse,14.00,122893,PG,-,Kemp Powers,Justin K. Thompson,Shameik Moore
1794,1726.0,The Lord of the Rings: The Two Towers,179.0,Robert Rodriguez,(2003),8.8,-,Action,Adventure,Drama,The Lord of the Rings: The Two Towers,9.35,36591,PG-13,Elijah Wood,Elijah Wood,Ian McKellen,Viggo Mortensen
1793,1725.0,The Lord of the Rings: The Fellowship of the Ring,178.0,Mark Neveldine,(2011),8.8,-,Action,Adventure,Drama,The Lord of the Rings: The Fellowship of the Ring,2.41,28915,PG-13,Elijah Wood,Elijah Wood,Ian McKellen,Orlando Bloom

In [32]:
#Display all details from both tables with the lowest gross collection and lowest ratings
combined_df=pd.merge(df1,df2,left_on='Movie_Names',right_on='Movies',how='outer')   #merging the two dataframes
sorted_df=combined_df.sort_values(by=['Collection(in million)','ratings'],ascending=True)   #sorting the dataframe
sorted_df.head()

,S.No.,Movie_Names,Duration,Director_1,Year,ratings,Metascore,Genre1,Genre2,Genre3,Movies,Collection(in million),Votes,Certificate,Star1,Star2,Star3,Star4
519,463.0,Timecop,99.0,Randall Wallace,(2002),5.9,55,Action,Adventure,Comedy,Timecop,0.00,50436,PG,Jean-Claude Van Damme,Matt Damon,Heath Ledger,Monica Bellucci
1169,1087.0,You Only Live Twice,117.0,Xavier Gens,(I) (2007),6.8,53,Animation,Action,Adventure,You Only Live Twice,0.00,70793,R,Sean Connery,Troy Quane,Rachel Brosnahan,Jarrett Bruno
1454,1374.0,Southpaw,124.0,Dexter Fletcher,(I) (2023),7.3,39,Animation,Action,Adventure,Southpaw,0.00,31132,R,Jake Gyllenhaal,Jamie Bell,Andy Serkis,Daniel Craig
1555,1480.0,Harry Potter and the Order of the Phoenix,138.0,Michael Bay,(2014),7.5,42,Action,Crime,Drama,Harry Potter and the Order of the Phoenix,0.00,79214,R,Daniel Radcliffe,Tom Cruise,Jamie Foxx,Jada Pinkett Smith
403,359.0,Only God Forgives,90.0,F. Gary Gray,(1998),5.7,67,Action,Drama,Fantasy,Only God Forgives,0.01,27863,PG-13,Ryan Gosling,Sylvester Stallone,Javon 'Wanna' Walton,Pilou Asbæk

# ******END*****